


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    color: #eb4ac0;
}
.imgLogo{
    width: 100px;
    height: auto;
}
.flotantes{
    float: left;
}
.w100{ width: 100%; }
.w50{ width: 50%; }
.w25{ width: 25%; }
.bgRed{ background-color: red; }
.bgBlue{ background-color: blue; }
.bgGreen{ background-color: green; }
#soloColor{
    background-color: #eb4ac0;
}
.titles{
    color: #fff;
    font-size: 1.25rem;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.menu li{
    padding: 1rem;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.menu li a:hover{
    color: #eb4ac0;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.subTitles{
    color: #eb4ac0;
    font-size: 1.15rem;
    text-align: center;
    text-transform: uppercase;
}
.promociones{
    margin: 0 5%;
    padding: 1rem;
    background: yellow;
    border: 2px solid #535e09;
}
.btnPromociones{
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #d42caa;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.seccionPromocial{
    margin: 1rem 0;
    border: 1px solid #767675;
    box-shadow: 0px 0px 5px #767675;
}